assignment1.txt
[{"id":"9c0f90f4.e9794","type":"inject","z":"f38bb086.457cd","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":128.5,"y":232,"wires":[["c4a534d8.24f718"]]},{"id":"ebb4009a.c305","type":"debug","z":"f38bb086.457cd","name":"","active":true,"console":"false","complete":"false","x":630.5,"y":234,"wires":[]},{"id":"c4a534d8.24f718","type":"random","z":"f38bb086.457cd","name":"Random int","low":"1","high":"10","inte":"true","x":277.5,"y":232,"wires":[["9b9611d4.64e86"]]},{"id":"9b9611d4.64e86","type":"function","z":"f38bb086.457cd","name":"generate output","func":"if ( msg.payload < 5)\n{\n    return {\"payload\" : \"Number \" + msg.payload + \" is a low number\"};\n}\nelse\n{\n    return {\"payload\" : \"Number \" + msg.payload + \" is a high number\"};\n}","outputs":1,"noerr":0,"x":447.5,"y":233,"wires":[["ebb4009a.c305"]]}]
